.sass-cache
node_modules
*.log
*.pot
*.pyc
local_settings.py
utils/db
static/
media/
*.todo
*.backup
*.bak
media_tutorya.tar.gz
celery_test/
.DS_Store
content/build/
celery
utils/google_credentials.dat
site-packages